---
import { GraphQLClient } from "graphql-request";
import Main from "../../layouts/main.astro";


export async function getStaticPaths() {
  type Page = {
  page: {
    title: string;
    slug: string;
    body: {
      text: string;
    };
  };
};
type Pages = {
  pages: [Page]
}


  // Create a new GraphQL client with the Hygraph endpoint
  const client = new GraphQLClient('https://us-east-1-shared-usea1-02.cdn.hygraph.com/content/cltg6frtj07ga08upevb6yqqm/master');
  const { pages }: Pages = await client.request(
  `query Pages {
    pages {
      title
      slug
      body {
        text
      }
    }
  }`);

  const paths = pages.map(page => ({
    params: { slug: page.slug },
    props: {
      page
    }
  }))
  return paths;
}

const { page } = Astro.props

---

<!--  Renders the homepage with a title and a page fetched from the Hygraph -->
<Main title={page.title}>
  <div class="m-12">
    <h1 class="text-5xl font-bold mb-4">{page.title}</h1>
    <p class="text-lg mb-8">{page.body.text}</p>

    <p>
      <a href="/" class="underline">Back to homepage</a>
    </p>
  </div>
</Main>
